<!DOCTYPE html>
<html lang="en-US">
<title>Yummy</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="./onlineFoodOrder.js"></script>
<style>
    .bg-img {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background: url(blk-pizza.jpg);
        background-size: cover;
    }

</style>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="onload();" class="bg-img">
    <nav class="navbar navbar-expand-lg navbar-dark"
        style="background-image: linear-gradient(to right,#dc8735, rgba(255,0,0,0)); background-color: #000000;">
        <img src="./logo.jpg" style="height: 43px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active menuCls" id="menuTabId" menuType="MENU">
                    <a class="nav-link" href="#" ng-click="switchMenu('MENU','menuTabId')">Menu</a>
                </li>
                <li class="nav-item menuCls" menuType="BILLING" id="billingTabId">
                    <a class="nav-link" href="#" ng-click="switchMenu('BILLING','billingTabId')">Billing</a>
                </li>
                <li class="nav-item menuCls" menuType="HISTORY" id="orderHistoryTabId">
                    <a class="nav-link" href="#" ng-click="switchMenu('HISTORY','orderHistoryTabId')">Order History</a>
                </li>
            </ul>
            <span class="navbar-text" style="cursor: pointer;">
                <i class="fa fa-sign-out" style="font-size: 20px;" ng-click="logout()">Logout</i>
            </span>
        </div>
    </nav>
    <div id="orderDivId" style="margin: 12px 12px 0 12px;">
        <div class="row">
            <div class="col-sm-4 mb-3" ng-repeat="data in pizzMenuList">
                <div class="card">
                    <img class="card-img-top" src="{{data.imgUrl}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{data.title}}</h5>
                        <p class="card-text">{{data.description}}
                            <strong>$ {{data.price}}</strong>
                        </p>
                        <button ng-click="placeOrder(data)" class="btn btn-warning" data-toggle="modal"
                            data-target="#placeOrderModalId">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Place Order Modal -->
        <div class="modal fade" id="placeOrderModalId">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header bg-warning">
                        <h4 class="modal-title text-white">Add Order</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <strong class="text-warning">Name : </strong><span>{{orderDetails.title}}</span><br>
                                    <strong class="text-warning">Price :
                                    </strong><span>{{orderDetails.price}}</span><br>
                                    <strong class="text-warning">Details :
                                    </strong><span>{{orderDetails.description}}</span><br><br>
                                    <label for="deliveryAddressID">Delivery Address</label>
                                    <textarea class="form-control" id="deliveryAddressID"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="reset" class="border btn btn-light" data-dismiss="modal">Close</button>
                        <button type="button" class="border btn btn-warning" ng-click="addOrder()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-0" id="biilingId">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Order Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in viewOrderTableData">
                    <td scope="col">{{data.title}}</td>
                    <td scope="col">{{data.address}}</td>
                    <td scope="col">{{data.orderDate}}</td>
                    <td scope="col">{{data.price}}</td>
                    <td scope="col">
                        <button ng-show="data.status == 'pending'" type="button"
                            class="border btn-small btn-warning rounded" ng-click="getOrderData(data)"
                            data-toggle="modal" data-target="#processToPayModalId">Pay Bill</button>
                        <span ng-show="data.status != 'pending'">{{data.status}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- process to pay -->
        <div class="modal fade" id="processToPayModalId">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header bg-warning">
                        <h4 class="modal-title text-white">Process to pay</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="ammountId">Ammount</label>
                                    <input type="text" class="form-control" id="ammountId" value="" readonly>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="paymentModeId">Payment Mode</label>
                                    <select class="form-control" id="paymentModeId">
                                        <option value="">Select</option>
                                        <option value="Cash Payment">Cash</option>
                                        <option value="Card Payment">Card</option>
                                        <option value="UPI Payment">UPI</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="reset" class="border btn btn-light" data-dismiss="modal">Close</button>
                        <button type="button" class="border btn btn-warning" ng-click="payBill()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
